
@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
}


.container-box {
    height: 100%;
    width: 100%;
    color: rgb(0, 0, 0);
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-left: 110px;
    padding-top: 100px;
}


.menu {
    width: 360px;
    background-color: #ffffff;
    position: fixed; 
    top: 100px; 
    left: 120px; 
}

.menu-title {
    font-weight: bold;
    font-size: 36px;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
}

.menu-title img {
    width: 36px;
    height: 36px;
    margin-right: 15px;
}

.menu-item {
    margin: 10px 0;
    display: block;
    text-decoration: none;
    color: black;
    margin-left: 30px;
    font-size: 24px;
}

.menu-item:hover {
    color: inherit;
}

.menu-item span {
    transition: 0.3s ease;
    display: inline-block;
}

.menu-item span:hover {
    color: #acacac; 
    transform: scale(1.1) translateY(-5px) translateX(1px);
}


.card-container {
    height: auto; 
    width: 100%; 
    margin-left: 380px;
    padding-left: 30px;
    padding-top: 10px;
}

.card-list {
    font-size: 22px;
    margin-bottom: 20px;
}

.card-wrapper {
    margin-top: 6px;
    display: grid;
    grid-template-columns: repeat(4, 310px);
    gap: 7.5px;
    margin-bottom: 15px;
    justify-content: flex-start;
}

.card {
    margin-bottom: 0;
    width: 300px;
    height: 300px;
    border: none;
}

.card-image img {
    max-width: 100%;
    height: 195px;
    border-radius: 8px;
    box-shadow: 2px 2px 4px 0px rgba(0, 0, 0, 0.3);
    transition: transform 0.3s ease;
}

.card-image img:hover {
    transform: scale(1.1) translateY(-7px);
}

.card_header {
    padding-top: 7px;
    padding-bottom: 7px;
    display: flex;
    color: rgb(134, 134, 134);
    font-family: 'NanumGothic', sans-serif;
}

.card-line {
    padding-left: 6px;
    padding-right: 6px;
}

.card-title {
    font-size: 18px;
    font-weight: bold;
}

.card-subtitle {
    font-size: 13.5px;
    color: rgb(134, 134, 134);
    margin-top: 1px;
    font-weight: 500;
}


@media screen and (max-width: 1700px) {
    .card-wrapper {
        grid-template-columns: repeat(3, 310px);
    }
}

@media screen and (max-width: 1390px) {
.card-wrapper {
    grid-template-columns: repeat(2, 310px);
    }
}

@media screen and (max-width: 1080px) {
.card-wrapper {
    grid-template-columns: repeat(1, 310px);
    }
}

@media screen and (max-width: 770px) {
    .container-box {
        flex-direction: column;
        align-items: center;  
        justify-content: center; 
        width: 100%;
        box-sizing: border-box; 
    }

    .menu {
        display: none;
        position: static;
        width: 100%;
    }

    .card-container {
        width: 100%;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center; 
        margin-left: 0;
    }
}