 body, html {
            height: 100%;
            margin: 0;
            margin-top: -30px;
            font-family: 'Arial', sans-serif;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }

        .container {
    max-width: 400px; /* 원하는 크기로 설정 */
    margin: 0 auto;   /* 페이지 중앙에 위치시킴 */
    padding: 20px;   /* 내부 여백 추가 */
    border: 1px solid #e1e1e1;
    border-radius: 5px;
    background-color: #ffffff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}


        .login_form {
            margin-bottom: 20px;
            font-size: 28px;
            font-family: 'Rubik', sans-serif;
        }

        .login_image img {
            display: block;    
            margin-bottom: 40px;
        }

        .login-content .input-group {
        margin-bottom: 15px;
    }

    .login-content button {
        display: block;
        width: 100%;
        background-color: #28a745;
        color: white;
        padding: 10px 15px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
    }

    .login-content .other-options {
        margin-top: 15px;
    }

    .login-content .other-options a {
        display: block;
        text-decoration: none;
        color: #0366d6;
    }


label {
    display: block;
    margin-bottom: 8px;
    font-size: 14px;
    font-weight: 600;
    color: #555;
}

input[type="text"],
input[type="password"],
input[type="email"],
input[type="tel"] {
    width: 100%; 
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #e1e1e1;
    border-radius: 5px;
    font-size: 16px;
    background-color: #f9f9f9;
    transition: background-color 0.3s ease;
    box-sizing: border-box; /* 입력 필드 너비가 정확하게 유지되도록 설정 */
}

input[type="text"]:focus,
input[type="password"]:focus,
input[type="email"]:focus,
input[type="tel"]:focus {
    background-color: #fff;
    border-color: #007BFF;
    outline: none;
}

input[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #000000;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

input[type="submit"]:hover {
    background-color: #646464;
}